.container {
    padding: 16px;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: auto;
    padding: 10px;
    margin: 3px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  input[type=text], input[type=Email] {
      width: auto;
      padding: 10px;
      margin: 3px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }
    input[type=scroll], input[type= password] {
      width: auto;
      padding: 10px;
      margin: 3px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  
  /* Add a blue text color to links */
  a {
    color: rgb(143, 189, 239);
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: right;
  }
  
