body::before {
  display: block;
  content: '';
  height: 60px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

.div {
  text-align: center;
  text-align: center;
}

address {
  margin-left: 0;
  font-style: normal;
  font-family: arial black;
  text-align: justify;
  border: solid;
  height: 5cm;
  width: 11cm;
  border-radius: 20px;
  position: relative;


}

h1 {
  margin: 0;
  text-align: center;
}

.carousel-caption {
  position: absolute;
  top: -25px;


}


.center_div {
  margin: 0 auto;
  width: 80%
    /* value of your choice which suits your alignment */
}

footer {
  text-align: center;
  width: 100%;


}