{box-sizing: border-box}


.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: auto;
  padding: 10px;
  margin: 3px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
input[type=text], input[type=Email] {
    width: auto;
    padding: 10px;
    margin: 3px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  input[type=scroll], input[type= password] {
    width: auto;
    padding: 10px;
    margin: 3px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.RegisterBtn {
  background-color: #aa6d04;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.RegisterBtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: rgb(6, 31, 57);
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: right;
}
body {
    background-image: url(https://thumbs.gfycat.com/AnchoredSoulfulCapeghostfrog-mobile.mp4);
    background-color: #cccccc;
    height: 100%;
}
   /* .bg
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
